/* 实现页面左右布局 */
.left {
    float: left;
    width: 300px;
    height: 100%;
}
.right {
    margin-left: 310px;
    height: 100%;
}

/* 按钮样式 */
.niceButton{
    display: inline-block;
    padding: 5px 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#000000;
    background-color: #C0DEFA;
    border: none;
    border-radius: 3px;
}
.niceButton:hover{
    background-color: #80bcf5;
}
.niceButton:active{
    background-color: #1384D6;
}

/* 超链接样式 */
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* 输入框背景样式 */
.nttitle{
    width: 315px;
    height: 120px;
    background: url("../img/opt_name.gif") left 5px top 8px no-repeat;
    margin: 100px auto auto;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 25px;
    border: 1px solid #1384D6;
    box-shadow: 10px 10px 5px -4px #1384D6;
}

/* 输入框样式 */
.input {
    max-width: 190px;
    height: 30px;
    margin-top: 10px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}
.input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
}
.input-group:hover .label, .input:focus {
    color: #05060fc2;
}

#addsend{
    margin-top: 13px;
    margin-left: 60px;
}

#reset{
    margin-top: 13px;
    margin-left: 30px;
}

#add{
    margin-top: 15px;
    margin-left: 40px;
}