#header{
    height: fit-content;
    background-size: cover;
    background-image: url("../img/image.jpg");
    padding-left: 30px;
    line-height: 80px;
    text-shadow : rgba(255,255,255,0.8) 0 5px 6px, rgba(255,255,255,0.5) 1px 3px 3px;
}

.aButton {
    text-decoration: none;
}

#ntlistul {
    padding-top: 5px;
    padding-left: 40px;
}

#ntlistli {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #C0E0E9;
    width: 180px;
    margin-right: 60px;
    margin-top: 10px;
    float: left;
    line-height: 25px;
    padding-left: 10px;
}

#back{
    margin-left: 180px;
    margin-top: -28.4px;
}